.widget_tag_cloud {
    .tagcloud {
        font-size: 0;
        a {
            display: inline-block;
            vertical-align: top;
            font-size: 13px !important;
            color: #3a3534;
            border: 1px solid #ccc;
            padding: 5px 10px;
            margin: 0 6px 7px 0;
            text-decoration: none !important;
            &:hover {
                background-color: #ffac41;
                border-color: #ffac41;
                color: #000;
            }
        }
    }
}