@import "base";

.btn.btn_third.btn_outline.btn_full-width {
    border: 1px solid rgb(15, 23, 43) !important;
}

.btn.btn_primary.btn_solid.btn_icon-right.button.button--datepicker {
    //display: none;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    &.hover {
        transition: 300ms;
    }
}

.btn.btn_secondary.btn_solid {
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    &.hover {
        transition: 300ms;
    }
}

.btn.btn_primary.btn_outline {
    border-radius: 5px;
    &.hover {
        transition: 300ms;
    }
}

.btn.btn_primary.btn_solid {
    border-radius: 5px;
    &.hover {
        transition: 300ms;
    }
}

.btn.btn_third.btn_outline.btn_full-width {
    border-radius: 5px;
    border: 0;
    font-weight: 400;
    font-size: 15px;
    &.hover {
        transition: 300ms;
    }
}