.stm-posts-list_style_3 {
    position: relative;
    .stm-post__posts-list {
        .stm-post {
            &__image {
                overflow: hidden;
                img {
                    width: 100%;
                    transition: .3s ease !important;
                }
                > a {
                    transition: all .3s ease-in-out;
                    display: block;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0,0,0,0.35);
                    z-index: 90;
                }
            }
            &__date {
                text-transform: uppercase;
                font-size: 12px;
            }
            &__link {
                > a {
                    text-transform: uppercase;
                    font-size: 12px;
                    position: relative;
                    text-decoration: none;
                    padding: 3px 0;
                    font-weight: bold;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 1px;
                        width: 0;
                        transition: .3s ease;
                    }
                    &:before {
                        background-color: #222222;
                    }
                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
            &__excerpt {
                color: #333333;
                p {
                    margin-bottom: 0;
                }
            }
            &__title {
                h4 {
                    color: #fff !important;
                    font-weight: 500 !important;
                    margin-bottom: 23px;
                    a {
                        display: block;
                        color: #fff !important;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    width: 60px;
                    height: 1px;
                    background-color: #fff;
                    margin-bottom: 23px;
                }
            }
            &__footer {
                display: none;
            }
            &__body {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: transparent;
                z-index: 100;
                > * {
                    color: #fff !important;
                }
            }
        }
        &:hover {
            .stm-post__image {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.stm-post {
    &__card {
        .stm-post {
            &__body {
                padding: 33px 30px 18px;
                background-color: #fff;
            }
        }
    }
    &.sticky {
        position: relative;
        .stm_sticky_post {
            top: 0;
            left: 0;
            position: absolute;
            padding: 5px 10px;
            font-size: 12px;
        }
    }
    .stm_sticky_post {
        display: none;
    }
    &__title {
        word-break: break-word;
    }
}