/*Reset*/
body {
    font-size: inherit;
}

input[type=text],
input[type=search],
input[type=radio],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
input[type=password],
input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
select,
textarea {
    color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=text]:focus,
  input[type=search]:focus,
  input[type=radio]:focus,
  input[type=tel]:focus,
  input[type=time]:focus,
  input[type=url]:focus,
  input[type=week]:focus,
  input[type=password]:focus,
  input[type=checkbox]:focus,
  input[type=color]:focus,
  input[type=date]:focus,
  input[type=datetime]:focus,
  input[type=datetime-local]:focus,
  input[type=email]:focus,
  input[type=month]:focus,
  input[type=number]:focus,
  select:focus,
  textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group {
    margin-bottom: 20px;
}

.input-group .form-control {
    margin: 0;
}
