.stm_post__tags {
    margin: 50px 0;
    position: relative;
    font-size: 0;
    a {
        display: inline-block;
        vertical-align: top;
        font-size: 13px !important;
        color: #3a3534;
        border: 1px solid #ccc;
        padding: 5px 10px;
        margin: 0 6px 7px 0;
        text-decoration: none !important;
        &:hover {
            background-color: #ccc;
            color: #000;
        }
    }
}