.stm_loop__grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.stm_loop__grid .stm_loop__single {
  padding: 0 15px;
  width: 33.333%;
}
@media (max-width: 1023px) {
  .stm_loop__grid .stm_loop__single {
    width: 50%;
  }
}
@media (max-width: 550px) {
  .stm_loop__grid .stm_loop__single {
    width: 100% !important;
  }
}

.stm_author_box {
  display: flex;
  margin-bottom: 65px;
}
.stm_author_box__avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;
}
.stm_author_box__name {
  margin-top: -7px;
  margin-bottom: 12px;
  color: #000;
}

.stm_markup_right .stm_loop__grid .stm_loop__single,
.stm_markup_left .stm_loop__grid .stm_loop__single {
  width: 50%;
}

.stm-post__card .stm-post__body {
  padding: 33px 30px 18px;
  background-color: #fff;
}
.stm-post__card .stm-post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 26px;
  background-color: #fff;
}
.stm-post.sticky {
  position: relative;
}
.stm-post.sticky .stm_sticky_post {
  top: 0;
  left: 0;
  position: absolute;
  padding: 5px 10px;
  font-size: 12px;
}
.stm-post .stm_sticky_post {
  display: none;
}
.stm-post__title {
  word-break: break-word;
}

.stm_author_box {
  position: relative;
  padding: 20px;
  margin: 0 0 50px;
  background: #f6f6f6;
}
.stm_author_box__avatar {
  float: left;
  width: 87px;
  margin: 0 27px 0 0;
}
.stm_author_box__name {
  font-size: 11px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0 0 10px 0;
}
.stm_author_box__name strong {
  display: block;
  font-size: 14px;
  color: #222;
}
.stm_author_box__content {
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 550px) {
  .stm_author_box__avatar {
    float: none;
    margin-bottom: 15px;
  }
}

.comment-respond {
  margin: 0 0 50px;
}

.comment-form .submit {
  color: #fff !important;
}

ul.comment-list {
  position: relative;
  margin: 0 0 50px;
  padding: 0;
}
ul.comment-list li {
  list-style: none;
}
ul.comment-list .comment .vcard {
  float: left;
  margin: 0 27px 0 0;
  width: 87px;
}
ul.comment-list .comment .vcard img {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
ul.comment-list .comment .comment-info {
  padding-top: 10px;
  overflow: hidden;
}
ul.comment-list .comment .comment-author {
  float: left;
  font-weight: 700;
  color: #333333;
}
ul.comment-list .comment .comment-meta {
  float: right;
  font-size: 11px;
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 17px 0;
}
ul.comment-list .comment .comment-meta a {
  display: inline-block;
  vertical-align: middle;
  color: #aaaaaa;
}
ul.comment-list .comment .comment-meta a:hover:before {
  color: #777;
}
ul.comment-list .comment .comment-meta a:before {
  content: "/";
  display: inline-block;
  vertical-align: baseline;
  margin: 0 7px 0 5px;
}
ul.comment-list .comment .comment-meta a i {
  margin-right: 5px;
}
ul.comment-list .comment .comment-meta a:first-child:before {
  display: none;
}
ul.comment-list .comment .comment-text {
  clear: both;
}
ul.comment-list .comment .comment-text p {
  font-size: 16px;
  line-height: 18px;
}
ul.comment-list .comment .comment-text *:last-child {
  margin-bottom: 0;
}
ul.comment-list > li {
  border-top: 1px solid #eee;
  padding: 22px 0 0;
  margin: 0 0 22px;
}
ul.comment-list .children {
  margin: 22px 0 0 27px;
  padding: 0;
}
ul.comment-list .children .comment-info {
  padding-top: 3px;
}
ul.comment-list .children > li {
  position: relative;
  padding: 22px 0 0;
  margin: 0 0 22px;
  border-top: 1px solid #eee;
}
ul.comment-list .children > li:before {
  content: "";
  position: absolute;
  left: 66px;
  top: -9px;
  width: 15px;
  height: 9px;
}
ul.comment-list .children .children {
  margin-left: 20px;
}

.comment-respond {
  margin: 40px 0 0 0;
}

.comments-title {
  margin-top: 40px;
}

.comment-reply-title {
  margin: 0 0 29px;
  font-size: 26px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase;
}

.comment-reply-title:before {
  margin: 0 0 22px 0;
}

.sticky {
  position: relative;
}

.stm_mgb_28 {
  margin-bottom: 28px;
}

.stm_loop__list {
  transition: 0.3s ease;
  margin-bottom: 30px;
  /*No image*/
}
.stm_loop__list.stm_loop {
  margin: 0;
}
.stm_loop__list.stm_no_thumbnail.stm_loop__single a.inner {
  min-height: inherit;
  background-color: transparent !important;
  text-decoration: none !important;
}
.stm_loop__list.stm_no_thumbnail.stm_loop__single a.inner h3 {
  position: static;
  padding: 20px 0;
}
.stm_loop__list.stm_no_thumbnail.stm_loop__single a.inner h3:after, .stm_loop__list.stm_no_thumbnail.stm_loop__single a.inner h3:before {
  display: none !important;
}
.stm_loop__list.stm_no_thumbnail.stm_loop__single .stm_sticky_post {
  display: none;
}
.stm_loop__list.stm_no_thumbnail.stm_loop__single.sticky .stm_sticky_post {
  display: inline-block;
  position: static;
  top: -21px;
  left: -21px;
  background-color: #d8bf3e !important;
  color: #fff !important;
}
.stm_loop__list .stm_loop__single {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
}
.stm_loop__list .stm_loop__single .stm_sticky_post {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  z-index: 10;
}
.stm_loop__list .stm_loop__single:hover {
  border-color: transparent;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}
.stm_loop__list .stm_loop__single a.inner {
  display: block;
  position: relative;
  min-height: 120px;
}
.stm_loop__list .stm_loop__single h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px 14px;
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  z-index: 20;
}
.stm_loop__list .stm_loop__single h3:after, .stm_loop__list .stm_loop__single h3:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: -20px;
  margin-bottom: 0 !important;
  opacity: 1;
  background: linear-gradient(to top, rgba(35, 38, 40, 0.9), rgba(35, 38, 40, 0)) !important;
  transition: 0.3s ease;
  z-index: 22;
}
.stm_loop__list .stm_loop__single h3:after {
  opacity: 0;
  background: none !important;
}
.stm_loop__list .stm_loop__single h3 span {
  position: relative;
  z-index: 25;
}
.stm_loop__list .stm_loop__single .post_thumbnail {
  max-height: 354px;
  overflow: hidden;
}

.stm_loop__grid .stm_loop__single {
  margin-bottom: 40px;
}
.stm_loop__grid .stm_loop__single .stm_sticky_post {
  position: absolute;
  top: 0;
  left: 15px;
  padding: 5px 15px;
  z-index: 10;
}
.stm_loop__grid .stm_loop__single h5 {
  min-height: 30px;
  line-height: 1.3em;
}
.stm_loop__grid .stm_loop__single img {
  width: 100%;
}
.stm_loop__grid .stm_loop__single .postinfo_grid {
  padding-top: 15px;
  border-top: 1px solid #ccc;
}
.stm_loop__grid .stm_loop__single .postinfo_grid > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  font-size: 13px;
}
.stm_loop__grid .stm_loop__single .postinfo_grid > div span {
  opacity: 0.6;
}
.stm_loop__grid .stm_loop__single .postinfo_grid > div i {
  position: relative;
  top: 2px;
  margin-right: 3px;
  font-size: 16px;
}
.stm_loop__grid .stm_loop__single .postinfo_grid > div:last-child {
  margin-right: 0;
}

.stm_post_details {
  padding: 15px 30px;
  margin: 0;
  border: 0;
  display: flex;
}
.stm_post_details ul li {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
}
.stm_post_details ul li a {
  color: #fff;
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
}
.stm_post_details ul li i {
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-size: 16px;
}
.stm_post_details ul li:before {
  display: none;
}
.stm_post_details .comments_num {
  margin-left: auto;
  font-weight: 400;
  margin-top: 0;
}
.stm_post_details .comments_num i {
  position: relative;
  top: 4px;
  margin-right: 5px;
  font-size: 16px;
}

.stm_single_post_style_1 h1 {
  margin-bottom: 35px;
}
.stm_single_post_style_1 .stm_post_panel {
  margin: 0 0 30px;
  padding: 13px 20px;
}
.stm_single_post_style_1 .stm_post_panel .stm_single_post__tags i {
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.stm_single_post_style_1 .post_thumbnail {
  margin-bottom: 50px;
}
.stm_single_post_style_1 .post_thumbnail img {
  width: 100%;
}
.stm_single_post_style_1 .post_title h1 + svg {
  margin-top: -15px;
  display: block;
  margin-bottom: 25px;
}
.stm_single_post_style_1 .stm_share {
  margin: 0 -5px;
}
.stm_single_post_style_1 .stm_share a {
  color: #fff;
  padding: 0 5px;
  text-decoration: none;
}
.stm_single_post_style_1 .stm_post_details {
  margin: 0;
  border: 0;
}
.stm_single_post_style_1 .stm_post_details ul li {
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
}
.stm_single_post_style_1 .stm_post_details ul li:not(:last-child) {
  margin-right: 25px;
}
.stm_single_post_style_1 .stm_post_details ul li a {
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
}
.stm_single_post_style_1 .stm_post_details ul li i {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.stm_single_post_style_1 .stm_post_details ul li > span {
  vertical-align: middle;
}
.stm_single_post_style_1 .stm_post_details ul li:before {
  display: none;
}
.stm_single_post_style_1 .stm_post_details .comments_num {
  font-weight: 400;
  margin-top: 0;
}
.stm_single_post_style_1 .stm_post_details .comments_num i {
  position: relative;
  top: 4px;
  margin-right: 5px;
  font-size: 16px;
}
.stm_single_post_style_1 .stm_prevnext {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
}
.stm_single_post_style_1 .stm_prevnext__post {
  width: 50%;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 40px 0;
}
.stm_single_post_style_1 .stm_prevnext__post > a {
  display: block;
}
.stm_single_post_style_1 .stm_prevnext__post_prev {
  border-right: 1px solid #aaa;
}
.stm_single_post_style_1 .stm_prevnext__post_prev i {
  margin-right: 20px;
}
.stm_single_post_style_1 .stm_prevnext__post_next {
  text-align: right;
}
.stm_single_post_style_1 .stm_prevnext__post_next i {
  margin-left: 20px;
}
.stm_single_post_style_1 .stm_prevnext__title {
  font-size: 24px;
  line-height: 38px;
}
.stm_single_post_style_1 .stm_prevnext__title > i {
  font-size: 18px;
}
.stm_single_post_style_1 .stm_prevnext__title > span {
  font-weight: 600;
}
.stm_single_post_style_1 .stm_prevnext__title > i, .stm_single_post_style_1 .stm_prevnext__title > span {
  vertical-align: middle;
}

ul.comment-list .comment .vcard img {
  border: 0;
  border-radius: 50%;
}
ul.comment-list .comment .comment-meta {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
  text-transform: none;
  color: #888;
}
ul.comment-list .comment .comment-meta a {
  color: #888;
}
ul.comment-list .comment .comment-author a {
  font-size: 15px;
}
ul.comment-list .comment .comment-text p {
  line-height: 22px;
}
ul.comment-list .children > li {
  position: relative;
  border-color: #ccc;
}
ul.comment-list .children > li .vcard {
  width: 70px;
}
ul.comment-list .children > li:before {
  content: "";
  top: -6px;
  width: 10px;
  height: 10px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #fff;
  transform: rotate(45deg);
}
ul.comment-list .children .children > li:before {
  left: 37px;
}
ul.comment-list .children .children .children {
  margin-left: 0;
}

.comment-reply-title,
.comments-title {
  font-size: 26px;
  font-weight: 600;
}

.comment-reply-title {
  margin-bottom: 20px;
}

.comment-reply-link i {
  margin-right: 5px;
}

@media (max-width: 1023px) {
  .stm_loop__grid .stm_loop__single {
    width: 50%;
  }

  .stm_single_post_style_1 .stm_post_panel {
    padding: 15px 20px;
  }
  .stm_single_post_style_1 .stm_post_panel .stm_single_event__share {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .stm_single_post_style_1 .stm_post_panel .stm_single_event__share a:first-child {
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  .stm_loop__grid .stm_loop__single {
    width: 100%;
  }

  .stm_loop__list .stm_loop__single {
    padding: 0;
    border: 0;
  }
  .stm_loop__list .stm_loop__single h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .stm_loop__list .stm_loop__single h3:before {
    top: -55px;
  }

  .stm_single_post_style_1 .stm_post_details {
    padding: 15px;
  }
  .stm_single_post_style_1 .stm_post_details ul li {
    display: block;
    width: 100%;
    margin: 0 0 15px;
  }

  ul.comment-list .comment .vcard {
    display: none;
  }
  ul.comment-list .comment .comment-author {
    float: none;
  }
  ul.comment-list .comment .commentmetadata {
    margin-top: 10px;
    float: none;
    text-align: left;
  }
  ul.comment-list .comment .children {
    margin-left: 0;
  }

  .stm_post_comments .comment-form {
    padding: 20px;
  }
}
.stm_single_post_style_1 .post_title svg {
  display: none !important;
}
.stm_single_post_style_1 .stm_post_details {
  padding: 0 0 40px;
}
.stm_single_post_style_1 .stm_post_details ul li {
  color: #000;
}
.stm_single_post_style_1 .stm_post_details ul li a {
  color: #000;
}

/*# sourceMappingURL=style_2.css.map */
