/*COLORS*/
/*FONTS*/
.stm_post__tags {
  margin: 50px 0;
  position: relative;
  font-size: 0;
}
.stm_post__tags a {
  display: inline-block;
  vertical-align: top;
  font-size: 13px !important;
  color: #3a3534;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 6px 7px 0;
  text-decoration: none !important;
}
.stm_post__tags a:hover {
  background-color: #ccc;
  color: #000;
}

.stm_share {
  margin-bottom: 7px;
}
.stm_share a {
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background-color: #bbb;
  line-height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  opacity: 1;
}
.stm_share a:hover {
  color: #fff;
  opacity: 0.6;
}
.stm_share a.stm_share_facebook {
  background-color: #627aad;
}
.stm_share a.stm_share_twitter {
  background-color: #4D9ED8;
}
.stm_share a.stm_share_linkedin {
  background-color: #2F75AE;
}
.stm_share a.stm_share_google-plus {
  background-color: #DB4437;
}
.stm_share a.stm_share_pinterest {
  background-color: #BE1626;
}
@media (max-width: 550px) {
  .stm_share {
    display: block;
    width: 100%;
    padding-left: 0 !important;
  }
}
@media (max-width: 1024px) {
  .stm_share {
    margin: 25px 0 0 !important;
  }
  .stm_share a {
    width: 37px;
    height: 37px;
    margin: 0 5px 5px 0;
    line-height: 40px;
    font-size: 18px !important;
    opacity: 1;
  }
}

.stm_author_box {
  position: relative;
  padding: 20px;
  background: #f6f6f6;
}
.stm_author_box__avatar {
  float: left;
  width: 87px;
  margin: 0 27px 0 0;
}
.stm_author_box__name {
  font-size: 11px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0 0 10px 0;
}
.stm_author_box__name strong {
  display: block;
  font-size: 14px;
}
.stm_author_box__content {
  overflow: hidden;
  line-height: 20px;
}
@media (max-width: 550px) {
  .stm_author_box__avatar {
    float: none;
    margin-bottom: 15px;
  }
}

.stm_author_box {
  position: relative;
  padding: 20px;
  margin: 0 0 50px;
  background: #f6f6f6;
}
.stm_author_box__avatar {
  float: left;
  width: 87px;
  margin: 0 27px 0 0;
}
.stm_author_box__name {
  font-size: 11px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0 0 10px 0;
}
.stm_author_box__name strong {
  display: block;
  font-size: 14px;
  color: #222;
}
.stm_author_box__content {
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 550px) {
  .stm_author_box__avatar {
    float: none;
    margin-bottom: 15px;
  }
}

.comment-respond {
  margin: 0 0 50px;
}

.comment-form .submit {
  color: #fff !important;
}

ul.comment-list {
  position: relative;
  margin: 0 0 50px;
  padding: 0;
}
ul.comment-list li {
  list-style: none;
}
ul.comment-list .comment .vcard {
  float: left;
  margin: 0 27px 0 0;
  width: 87px;
}
ul.comment-list .comment .vcard img {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
ul.comment-list .comment .comment-info {
  padding-top: 10px;
  overflow: hidden;
}
ul.comment-list .comment .comment-author {
  float: left;
  font-weight: 700;
  color: #333333;
}
ul.comment-list .comment .comment-meta {
  float: right;
  font-size: 11px;
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 17px 0;
}
ul.comment-list .comment .comment-meta a {
  display: inline-block;
  vertical-align: middle;
  color: #aaaaaa;
}
ul.comment-list .comment .comment-meta a:hover:before {
  color: #777;
}
ul.comment-list .comment .comment-meta a:before {
  content: "/";
  display: inline-block;
  vertical-align: baseline;
  margin: 0 7px 0 5px;
}
ul.comment-list .comment .comment-meta a i {
  margin-right: 5px;
}
ul.comment-list .comment .comment-meta a:first-child:before {
  display: none;
}
ul.comment-list .comment .comment-text {
  clear: both;
}
ul.comment-list .comment .comment-text p {
  font-size: 16px;
  line-height: 18px;
}
ul.comment-list .comment .comment-text *:last-child {
  margin-bottom: 0;
}
ul.comment-list > li {
  border-top: 1px solid #eee;
  padding: 22px 0 0;
  margin: 0 0 22px;
}
ul.comment-list .children {
  margin: 22px 0 0 27px;
  padding: 0;
}
ul.comment-list .children .comment-info {
  padding-top: 3px;
}
ul.comment-list .children > li {
  position: relative;
  padding: 22px 0 0;
  margin: 0 0 22px;
  border-top: 1px solid #eee;
}
ul.comment-list .children > li:before {
  content: "";
  position: absolute;
  left: 66px;
  top: -9px;
  width: 15px;
  height: 9px;
}
ul.comment-list .children .children {
  margin-left: 20px;
}

.comment-respond {
  margin: 40px 0 0 0;
}

.comments-title {
  margin-top: 40px;
}

.comment-reply-title {
  margin: 0 0 29px;
  font-size: 26px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase;
}

.comment-reply-title:before {
  margin: 0 0 22px 0;
}

.stm_markup .stm_loop__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stm_markup.stm_markup_full .stm_loop__single {
  width: calc(33.3% - 15px);
}
@media (max-width: 1023px) {
  .stm_markup.stm_markup_full .stm_loop__single {
    width: calc(50% - 15px);
  }
}
@media (max-width: 550px) {
  .stm_markup.stm_markup_full .stm_loop__single {
    width: 100%;
  }
}
.stm_markup.stm_markup_full .stm_loop__list {
  width: 100%;
}
.stm_markup.stm_markup_right .stm_loop__single, .stm_markup.stm_markup_left .stm_loop__single {
  width: calc(50% - 15px);
}
.stm_markup.stm_markup_right .stm_loop__list, .stm_markup.stm_markup_left .stm_loop__list {
  width: 100%;
}

.stm_single__image_placeholder {
  padding-bottom: 75px;
}

.stm_single_post_style_1, .stm_loop__single_grid_style_1 {
  padding-bottom: 0;
  margin-bottom: 30px;
}
.stm_single_post_style_1 .stm_loop__container, .stm_loop__single_grid_style_1 .stm_loop__container {
  position: relative;
  transition: 0.3s ease;
}
.stm_single_post_style_1 h1, .stm_loop__single_grid_style_1 h1 {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  text-transform: none !important;
}
.stm_single_post_style_1 .stm_post__tags a, .stm_loop__single_grid_style_1 .stm_post__tags a {
  display: inline-block;
  vertical-align: top;
  font-size: 13px !important;
  color: #3a3534;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 6px 7px 0;
  text-decoration: none !important;
}
.stm_single_post_style_1 .stm_post__tags a:hover, .stm_loop__single_grid_style_1 .stm_post__tags a:hover {
  background-color: #ffac41;
  border-color: #ffac41;
  color: #000;
}
.stm_single_post_style_1 .stm_post_comments .comment-reply-title, .stm_loop__single_grid_style_1 .stm_post_comments .comment-reply-title {
  font-size: 36px;
}
.stm_single_post_style_1 .stm_loop_excerpt, .stm_loop__single_grid_style_1 .stm_loop_excerpt {
  font-size: 14px;
  line-height: 26px;
}
.stm_single_post_style_1 .comment-form, .stm_loop__single_grid_style_1 .comment-form {
  background: #f7f7f7;
  padding: 40px 40px 20px;
}
.stm_single_post_style_1 .comment-form .form-submit, .stm_loop__single_grid_style_1 .comment-form .form-submit {
  text-align: right;
}
.stm_single_post_style_1 .comment-form .comment-form-comment textarea, .stm_loop__single_grid_style_1 .comment-form .comment-form-comment textarea {
  min-height: 100px;
  height: 100px;
}
.stm_single_post_style_1 .comment-form .form-control:focus, .stm_loop__single_grid_style_1 .comment-form .form-control:focus {
  background-color: #fff;
}
.stm_single_post_style_1 .stm_loop__container, .stm_loop__single_grid_style_1 .stm_loop__container {
  height: 100%;
  border: 1px solid #e6e6e6;
}
.stm_single_post_style_1 .stm_loop__container .stm_single__image, .stm_loop__single_grid_style_1 .stm_loop__container .stm_single__image {
  margin: -1px;
}
.stm_single_post_style_1 .stm_loop__container .stm_single__image img, .stm_loop__single_grid_style_1 .stm_loop__container .stm_single__image img {
  width: 100%;
}
.stm_single_post_style_1 .stm_read_more_link.btn, .stm_loop__single_grid_style_1 .stm_read_more_link.btn {
  padding: 0;
}
.stm_single_post_style_1 h5, .stm_loop__single_grid_style_1 h5 {
  font-weight: bold !important;
  word-break: break-all;
}
.stm_single_post_style_1 .stm_single-date, .stm_loop__single_grid_style_1 .stm_single-date {
  width: auto;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.stm_single_post_style_1 .stm_single-date .day, .stm_loop__single_grid_style_1 .stm_single-date .day {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 5px;
  padding: 0 5px;
  text-align: center;
}
.stm_single_post_style_1 .stm_single-date .month, .stm_loop__single_grid_style_1 .stm_single-date .month {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  display: block;
}
.stm_single_post_style_1 .stm_single-date:before, .stm_loop__single_grid_style_1 .stm_single-date:before {
  display: none;
}
.stm_single_post_style_1 .stm_loop__meta, .stm_loop__single_grid_style_1 .stm_loop__meta {
  padding: 23px 30px 43px;
}
.stm_single_post_style_1:hover .stm_loop__container, .stm_loop__single_grid_style_1:hover .stm_loop__container {
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.07);
  border-color: transparent;
}
.stm_single_post_style_1 .post_thumbnail, .stm_loop__single_grid_style_1 .post_thumbnail {
  margin-bottom: 50px;
}

@media (max-width: 550px) {
  .stm_single_post_style_1 .stm_post_details {
    display: block;
  }
  .stm_single_post_style_1 .stm_post_details .post_date {
    display: none;
  }
  .stm_single_post_style_1 .stm_post_details .post_details {
    padding: 10px;
    display: block;
  }
  .stm_single_post_style_1 .stm_post_details .comments_num {
    text-align: left;
  }
}

.stm_post_details {
  border: 0;
  margin: 0 0 14px;
  font-size: 15px;
  display: flex;
  align-items: flex-start;
}
.stm_post_details .comments_num {
  margin-left: auto;
}
.stm_post_details .comments_num i {
  color: #ffac41;
}
.stm_post_details > ul {
  display: flex;
  align-items: center;
}
.stm_post_details > ul li {
  text-transform: none;
}
.stm_post_details .post_details {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex: 1;
  height: 100%;
  min-height: 75px;
  padding: 21px 20px;
}
.stm_post_details .post_details .post_by {
  min-width: 168px;
  padding-right: 20px;
}
.stm_post_details .post_details .post_cat {
  max-width: 400px;
}
.stm_post_details .post_details .post_cat a {
  margin-right: 7px;
}
.stm_post_details .post_date {
  align-self: flex-start;
  margin-right: 25px;
  width: 175px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stm_post_details .post_date .day {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 5px;
  padding: 0 5px;
  text-align: center;
}
.stm_post_details .post_date .month {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  display: block;
}
.stm_post_details .comments_num a {
  color: #777777 !important;
  font-weight: normal;
  text-transform: none;
}
.stm_post_details .comments_num a i {
  font-size: 17px;
  margin-right: 5px;
}
.stm_post_details span {
  font-weight: 600;
}
.stm_post_details .fa-tag {
  margin-right: 7px;
  color: #ffac41;
}

.stm_loop__list.stm_loop__single.post_thumbnail- .stm_loop__post_image {
  flex: 0 0 0;
}
.stm_loop__list.stm_loop__single.post_thumbnail- .stm_loop__post_image .stm_loop__date {
  width: 160px;
}
.stm_loop__list.stm_loop__single.post_thumbnail- .stm_loop__content {
  padding: 75px 30px 40px 30px;
  overflow: visible;
}
.stm_loop__list.stm_loop__single.post_thumbnail- .stm_single-date {
  left: 0;
  right: auto;
}
.stm_loop__list.stm_loop__single .fa-tag {
  position: relative;
  top: 7px;
}

.stm_loop__list.stm_loop__single.room {
  padding-bottom: 0;
  margin: 0 0 30px;
}

.stm_loop__list.stm_loop__single {
  padding-bottom: 0;
  margin-bottom: 30px;
}
.stm_loop__list.stm_loop__single:last-child {
  margin-bottom: 60px;
}
.stm_loop__list.stm_loop__single .stm_loop__container {
  border: 1px solid #e6e6e6;
  display: flex;
  transition: 0.3s ease;
}
.stm_loop__list.stm_loop__single .h5 {
  white-space: nowrap;
  display: block;
  margin-bottom: 12px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}
.stm_loop__list.stm_loop__single .stm_loop__post_image {
  margin: -1px 0 -1px -1px;
  flex: 1 0 350px;
  max-width: 350px;
  position: relative;
}
.stm_loop__list.stm_loop__single .stm_loop__post_image img {
  max-width: 100%;
  width: 100%;
}
.stm_loop__list.stm_loop__single .stm_loop__content {
  overflow: hidden;
  flex: 1;
  padding: 22px 30px;
}
.stm_loop__list.stm_loop__single .stm_loop__content .post_excerpt {
  font-size: 16px;
  line-height: 24px;
}
.stm_loop__list.stm_loop__single .stm_loop__content .stm_post_details {
  flex-wrap: wrap;
}
.stm_loop__list.stm_loop__single .stm_loop__content .stm_post_details a {
  margin-right: 5px;
}
.stm_loop__list.stm_loop__single .stm_loop__content .stm_post_details a:first-child {
  margin-left: 5px;
}
.stm_loop__list.stm_loop__single .stm_single-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 15px 10px;
  margin: 0;
  z-index: 1;
}
.stm_loop__list.stm_loop__single .stm_single-date .day {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 0 5px;
}
.stm_loop__list.stm_loop__single .stm_single-date .month {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  display: block;
}
.stm_loop__list.stm_loop__single .stm_single-date:before {
  display: none;
}
.stm_loop__list.stm_loop__single:after {
  display: none;
}
.stm_loop__list.stm_loop__single .stm_post_details {
  margin-bottom: 20px;
  border: none;
  padding: 0;
}
.stm_loop__list.stm_loop__single:hover .stm_loop__container {
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.07);
  border-color: transparent;
}
@media (max-width: 1024px) {
  .stm_loop__list.stm_loop__single .h5 {
    white-space: normal;
  }
  .stm_loop__list.stm_loop__single .stm_loop__post_image {
    max-width: 350px;
  }
}
@media (max-width: 550px) {
  .stm_loop__list.stm_loop__single {
    width: 100%;
  }
  .stm_loop__list.stm_loop__single .stm_loop__content {
    padding-bottom: 26px;
  }
  .stm_loop__list.stm_loop__single .stm_loop__container {
    display: block;
  }
  .stm_loop__list.stm_loop__single .stm_loop__post_image {
    display: block;
    width: 100%;
    max-width: inherit;
  }
  .stm_loop__list.stm_loop__single .stm_loop__post_image img {
    width: 100%;
  }
  .stm_loop__list.stm_loop__single.post_thumbnail- {
    position: relative;
  }
  .stm_loop__list.stm_loop__single.post_thumbnail- .stm_single-date {
    max-width: 170px;
  }
  .stm_loop__list.stm_loop__single.post_thumbnail- .stm_loop__content {
    position: static;
    padding-top: 75px;
    overflow: visible;
  }
}

ul.comment-list .trackback .vcard img,
ul.comment-list .pingback .vcard img,
ul.comment-list .comment .vcard img {
  border: 1px solid #b8b8b8;
  border-radius: 50%;
}
ul.comment-list .trackback .comment-meta,
ul.comment-list .pingback .comment-meta,
ul.comment-list .comment .comment-meta {
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: none;
  color: #888;
}
ul.comment-list .trackback .comment-meta a,
ul.comment-list .pingback .comment-meta a,
ul.comment-list .comment .comment-meta a {
  color: #888;
}
ul.comment-list .trackback .comment-author a,
ul.comment-list .pingback .comment-author a,
ul.comment-list .comment .comment-author a {
  font-size: 15px;
}
ul.comment-list .trackback .comment-text p,
ul.comment-list .pingback .comment-text p,
ul.comment-list .comment .comment-text p {
  font-size: 16px;
  line-height: 22px;
}
ul.comment-list .children > li {
  position: relative;
  border-color: #eee;
}
ul.comment-list .children > li .vcard {
  width: 70px;
}
ul.comment-list .children > li:before {
  content: "";
  top: -6px;
  width: 10px;
  height: 10px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #fff;
  transform: rotate(45deg);
}
ul.comment-list .children .children > li:before {
  left: 37px;
}
ul.comment-list .children .children .children {
  margin-left: 0;
}

.comment-reply-title,
.comments-title {
  font-size: 26px;
  font-weight: 800;
  text-transform: none;
}

.comment-reply-title {
  margin-bottom: 20px;
}

.stm_post_comments .comment-form {
  padding: 40px 40px 10px;
  background: #eeeff2;
}
.stm_post_comments .comment-form .form-group {
  margin-bottom: 20px;
}
.stm_post_comments .comment-form input,
.stm_post_comments .comment-form textarea {
  border: 0;
  background-color: #fff;
}
@media (max-width: 550px) {
  .stm_single_post_style_1 .stm_post_comments .comment-form {
    padding: 30px 30px 5px;
  }
}
.comment-text ol,
.comment-text ul,
.post-content ol,
.post-content ul {
  margin-bottom: 30px;
}
.comment-text ol > li,
.comment-text ul > li,
.post-content ol > li,
.post-content ul > li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
}
.comment-text ol > li:before,
.comment-text ul > li:before,
.post-content ol > li:before,
.post-content ul > li:before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  width: 12px;
  height: 2px;
  background-color: rgba(34, 34, 34, 0.7);
}
.comment-text ol > li > ol,
.comment-text ol > li > ul,
.comment-text ul > li > ol,
.comment-text ul > li > ul,
.post-content ol > li > ol,
.post-content ol > li > ul,
.post-content ul > li > ol,
.post-content ul > li > ul {
  margin-top: 15px;
}
.comment-text ol > li > ol li,
.comment-text ol > li > ul li,
.comment-text ul > li > ol li,
.comment-text ul > li > ul li,
.post-content ol > li > ol li,
.post-content ol > li > ul li,
.post-content ul > li > ol li,
.post-content ul > li > ul li {
  font-size: 18px;
}
.comment-text ol > li > ol li:before,
.comment-text ol > li > ul li:before,
.comment-text ul > li > ol li:before,
.comment-text ul > li > ul li:before,
.post-content ol > li > ol li:before,
.post-content ol > li > ul li:before,
.post-content ul > li > ol li:before,
.post-content ul > li > ul li:before {
  top: 15px;
  width: 10px;
  height: 2px;
  border-radius: 0;
}
.comment-text ol > li > ol li > ol,
.comment-text ol > li > ol li > ul,
.comment-text ol > li > ul li > ol,
.comment-text ol > li > ul li > ul,
.comment-text ul > li > ol li > ol,
.comment-text ul > li > ol li > ul,
.comment-text ul > li > ul li > ol,
.comment-text ul > li > ul li > ul,
.post-content ol > li > ol li > ol,
.post-content ol > li > ol li > ul,
.post-content ol > li > ul li > ol,
.post-content ol > li > ul li > ul,
.post-content ul > li > ol li > ol,
.post-content ul > li > ol li > ul,
.post-content ul > li > ul li > ol,
.post-content ul > li > ul li > ul {
  margin-top: 15px;
}
.comment-text ol > li > ol li > ol li,
.comment-text ol > li > ol li > ul li,
.comment-text ol > li > ul li > ol li,
.comment-text ol > li > ul li > ul li,
.comment-text ul > li > ol li > ol li,
.comment-text ul > li > ol li > ul li,
.comment-text ul > li > ul li > ol li,
.comment-text ul > li > ul li > ul li,
.post-content ol > li > ol li > ol li,
.post-content ol > li > ol li > ul li,
.post-content ol > li > ul li > ol li,
.post-content ol > li > ul li > ul li,
.post-content ul > li > ol li > ol li,
.post-content ul > li > ol li > ul li,
.post-content ul > li > ul li > ol li,
.post-content ul > li > ul li > ul li {
  margin-bottom: 7px;
}
.comment-text ol li,
.post-content ol li {
  padding-left: 0;
}
.comment-text ol li:before,
.post-content ol li:before {
  display: none;
}

.stm_loop__content {
  position: relative;
}
.stm_loop__content .stm_sticky_post {
  position: absolute;
  right: -1px;
  top: -1px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 16px;
  background-color: #3a3138;
  color: #fff;
}

p.post-img {
  margin: 50px 0;
}

ul.comment-list .children > li:before {
  display: none !important;
}

@media (max-width: 600px) {
  ul.comment-list .comment .vcard {
    float: none;
    margin: 0 0 16px;
  }
  ul.comment-list .comment .comment-author {
    float: none;
  }
  ul.comment-list .comment .comment-meta {
    float: none;
    margin: 10px 0 20px;
  }
  ul.comment-list .comment .comment-meta a {
    display: block;
    margin-bottom: -2px;
  }
  ul.comment-list .comment .comment-meta a .fa-reply {
    display: none !important;
  }
  ul.comment-list .comment .comment-meta a:before {
    display: none !important;
  }
}

/*# sourceMappingURL=style_1.css.map */
