@import "variables";
@import "style";

.stm_weather {
    position: relative;
    padding-right: 20px;
    .temperature {
        display: flex;
        align-items: center;
        .degree {
            font-weight: normal !important;
            &:after {
                content: '°';
                margin-right: 5px;
            }
        }
    }
    [class*=stmweathericon] {
        font-size: 20px;
        margin-right: 5px;
    }
    font-size: 13px;
    &:after {
        content: '';
        display: block;
        height: 40px;
        width: 1px;
        position: absolute;
        right: -7px;
        top: 0;
        margin-top: -10px;
        background: rgba(255,255,255,0.1);
    }
}