$icomoon-font-path: "" !default;

$stmweathericon-01d: "\e900";
$stmweathericon-01n: "\e901";
$stmweathericon-02d: "\e902";
$stmweathericon-02n: "\e903";
$stmweathericon-03d: "\e904";
$stmweathericon-03n: "\e905";
$stmweathericon-04d: "\e906";
$stmweathericon-04n: "\e907";
$stmweathericon-09d: "\e908";
$stmweathericon-09n: "\e909";
$stmweathericon-10d: "\e90a";
$stmweathericon-10n: "\e90b";
$stmweathericon-11d: "\e90c";
$stmweathericon-11n: "\e90d";
$stmweathericon-13d: "\e90e";
$stmweathericon-13n: "\e90f";
$stmweathericon-50d: "\e910";
$stmweathericon-50n: "\e911";

