@charset "UTF-8";
.stm-navigation__default > ul > li ul {
  margin-top: -1px;
}

@media (max-width: 550px) {
  .stm-header .stm-navigation.stm-navigation__default > ul li > a {
    line-height: 1.2 !important;
    padding: 15px 0 !important;
  }
}
@media (max-width: 550px) {
  .stm-header.active .stm-navigation.stm-navigation__default > ul li.menu-item-has-children > a {
    position: relative;
  }
  .stm-header.active .stm-navigation.stm-navigation__default > ul li.menu-item-has-children > a:after {
    transition: transform 0.1s ease;
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #fff transparent transparent transparent;
    transform: rotate(0deg);
  }
  .stm-header.active .stm-navigation.stm-navigation__default > ul li.menu-item-has-children.active > a:after {
    transform: rotate(180deg);
  }
}
.stm-header__row {
  margin: 0 -15px;
}
@media (max-width: 1023px) {
  .stm-header {
    height: 100vh;
  }
  .stm-header__row {
    margin: 0 -15px;
  }
  .stm-header__row_color {
    border: 0 !important;
  }
  .stm-header .stm-navigation__default > ul > li > a {
    padding: 0 !important;
  }
}

.stm_header_transparent .stm-header * {
  color: #fff !important;
}

.stm_header_style_1 .stm-header__cell {
  max-width: 100%;
}
.stm_header_style_1 .fullwidth-header-part {
  padding: 0 50px;
}
.stm_header_style_1 .fullwidth-header-part .stm-header__cell {
  flex-grow: 1;
  flex-basis: 0;
}
.stm_header_style_1 .stm-navigation__default > ul > li > a {
  font-size: 15px;
  padding: 0 30px;
  letter-spacing: 3px;
}
.stm_header_style_1 .stm-navigation__default > ul > li ul li > a {
  font-size: 13px !important;
}
.stm_header_style_1 .stm-navigation__line_bottom > ul > li:hover:before {
  bottom: -4px;
}
.stm_header_style_1 .stm-navigation__line_bottom > ul > li:before {
  height: 2px;
  left: 35px;
  right: 35px;
}
.stm_header_style_1 .stm-navigation > ul > li.current-menu-item:before {
  opacity: 1;
  visibility: visible;
  bottom: -4px;
}
.stm_header_style_1 .stm-navigation__line_bottom > ul > li.current-menu-parent:before {
  opacity: 1 !important;
  visibility: visible !important;
  bottom: -4px;
}
@media (max-width: 1023px) {
  .stm_header_style_1 .stm-header {
    padding: 20px 0 20px 20px;
  }
  .stm_header_style_1 .stm-header .stm-header__row_color:before,
.stm_header_style_1 .stm-header .stm-header__row_color {
    background: none !important;
  }
  .stm_header_style_1.stm_header_transparent .stm_mobile__header {
    margin-bottom: 0;
  }
  .stm_header_style_1 .stm-navigation__default > ul {
    margin: 0 !important;
  }
  .stm_header_style_1 .stm-navigation.stm-navigation__default ul li.menu-item-has-children > a {
    position: relative;
    padding-right: 25px;
  }
  .stm_header_style_1 .stm-navigation.stm-navigation__default ul li.menu-item-has-children > a:after {
    transition: all 0.3s ease;
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #fff transparent transparent transparent;
  }
  .stm_header_style_1 .stm-navigation.stm-navigation__default ul li ul.sub-menu {
    padding: 0 0 10px;
    background: transparent;
  }
  .stm_header_style_1 .stm-navigation.stm-navigation__default ul li ul.sub-menu li {
    float: none;
    border: 0;
  }
  .stm_header_style_1 .stm-navigation.stm-navigation__default ul li ul.sub-menu li a {
    color: #fff !important;
  }
  .stm_header_style_1 .stm-navigation.stm-navigation__default ul li ul.sub-menu ul.sub-menu {
    margin: 15px 0 0 15px;
    padding-bottom: 0;
  }
  .stm_header_style_1 .stm-navigation__default > ul > li > a {
    padding: 15px 15px 15px 0;
  }
}
.stm_header_style_1 .stm-header__row_color_top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.stm_header_style_1 .stm-header__row_color_top .stm-header__element + .stm-header__element {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.stm_header_style_1 .stm-header__element .stm-socials {
  margin: 0;
}
.stm_header_style_1 .stm-header__element .stm-socials a {
  margin: 0;
  padding: 0 15px;
}
.stm_header_style_1 .stm-header__element .stm-socials a:last-child {
  padding-right: 0;
}
.stm_header_style_1 .stm-dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.stm_header_style_1 .stm-dropdown .dropdown-toggle:after {
  content: "􏷑" !important;
  font-family: "stmicons" !important;
  display: inline-block;
  font-size: 16px;
  transform: rotate(90deg);
  transform-origin: center;
  margin-left: 4px;
  transition: all 0.15s ease;
}
.stm_header_style_1 .stm-dropdown .dropdown.open .dropdown-toggle:after {
  transform: rotate(270deg);
}
.stm_header_style_1 .stm-dropdown .dropdown-menu li a {
  font-size: 12px;
  padding: 10px 15px;
  line-height: 1;
  min-height: 0;
  color: #fff;
  background-color: transparent;
}

@media (max-width: 1500px) {
  .stm_header_style_1 .fullwidth-header-part {
    padding: 0 50px;
  }
  .stm_header_style_1 .fullwidth-header-part .stm-header__cell {
    flex-grow: 1;
    flex-basis: auto;
  }
  .stm_header_style_1 .stm-navigation__default > ul > li:before {
    bottom: 5px !important;
  }
  .stm_header_style_1 .stm-navigation__default > ul > li > a {
    font-size: 13px;
    padding: 0 20px;
    letter-spacing: 1px;
  }
}
@media (max-width: 769px) {
  .stm_header_style_1 .fullwidth-header-part {
    padding: 0;
  }

  .stm_header_style_1 .stm-navigation__default > ul > li ul.sub-menu li > a {
    padding-left: 15px !important;
  }
}

/*# sourceMappingURL=style_1.css.map */
