@import "../../variables";
@import "../../mixins";
@import "base";

.stm_cta.style_1 {
  display: flex;
  padding: 30px 30px 30px 30px;
  align-items: center;
  font-size: 24px;
  color: #871b2a;
  i {
    margin-left: 20px;
  }
  span {
    margin-left: 10px;
  }
  .stm_cta {
    &__content {
      padding-right: 20px;
      *:last-child {
        margin-bottom: 0;
      }
      span {
        //letter-spacing: 0.5px;
      }
    }
    &__link {
      margin: -1px 0 0 auto;
    }
  }

  @include breakpoint(tabletunder) {
    padding: 20px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .stm_cta {
      &__content {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
      }
      &__link {
        margin-top: 30px;
        text-align: center;
        width: 100%;
      }
      h4 {
        line-height: 1.3;
      }
    }
  }

  @include breakpoint(tablet) {
    padding: 20px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .stm_cta {
      &__content {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
      }
      &__link {
        margin-top: 30px;
        text-align: center;
        width: 100%;
      }
      h4 {
        line-height: 1.3;
      }
    }
  }

  @include breakpoint(mobilized) {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    i {
      margin-left: 0;
    }
    span {
      font-size: 22px;
      line-height: 35px;
    }
    .stm_cta {
      &__content {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
      }
    }
  }

}